<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skytalkers.app.moviematcher">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controllers.Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controllers.Activities.LoginScreenActivity"
            android:label="@string/title_activity_login_screen"
            android:parentActivityName=".controllers.Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory="true">

            <!--<intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"
                    android:host="www.skytalkers.com"/>
            </intent-filter>-->
        </activity>
        <activity
            android:name=".controllers.Activities.NavigationActivity"
            android:label="@string/title_activity_navigation_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controllers.Activities.RegisterScreenActivity"
            android:label="@string/title_activity_register_screen"
            android:parentActivityName=".controllers.Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controllers.Activities.PrimaryActivity"
            android:label="@string/title_activity_primary"
            android:parentActivityName=".controllers.Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".controllers.Activities.UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.Activities.UserListActivity" />
        </activity>
        <activity
            android:name=".controllers.Activities.UserListActivity"
            android:label="@string/title_activity_user_list"
            android:parentActivityName=".controllers.Activities.PrimaryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.Activities.PrimaryActivity" />
        </activity>
        <activity
            android:name=".controllers.Activities.EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:parentActivityName=".controllers.Activities.PrimaryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.Activities.UserProfileActivity" />
        </activity>
        <activity
            android:name=".controllers.Activities.ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:parentActivityName=".controllers.Activities.PrimaryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.Activities.PrimaryActivity" />
        </activity>
        <activity
            android:name=".controllers.Activities.MovieActivity"
            android:label="@string/title_activity_movie"
            android:theme="@style/AppTheme.NoActionBar"> </activity>
    </application>

</manifest>
